@use "../../scss/abstracts/" as *;

.chart {
  margin: 2rem 0;
  padding: 0 1rem;
  
  &__wrapper {
    display: flex;
    overflow: auto;
    width: 100%;
    min-width: 500px;
  }
}

.charts__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.charts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;

  @include tablet {
    grid-template-columns: 1fr;
  }

  & > div {
    width: 100%;
    margin: 0;
    padding: 1.5rem;
  }
}

html[dir="rtl"] {
  .charts__container {
    direction: rtl;
  }
}
