@use "../../scss/abstracts/" as *;

.topNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  
  &_left {
    display: flex;
    align-items: center;
    gap: 1rem;

    &_menu_icon {
      cursor: pointer;
      color: #{$groviaPrimary};
      transition: color 0.3s ease;
      padding: 0.5rem;
      border-radius: 8px;
      
      &:hover {
        color: #{$groviaSecondary};
        background: rgba(252, 186, 7, 0.1);
      }
      
      @include tablet {
        display: none;
      }
    }
    
    &_menu {
      display: none;
      cursor: pointer;
      color: #{$groviaPrimary};
      transition: color 0.3s ease;
      padding: 0.5rem;
      border-radius: 8px;
      
      &:hover {
        color: #{$groviaSecondary};
        background: rgba(252, 186, 7, 0.1);
      }
      
      @include tablet {
        display: block;
      }
    }
  }
}

html[dir="rtl"] {
  .topNav_left_menu_icon {
    transform: rotate(180deg);
  }
}
